.results_box {
    width: 80%;
    height: 60%;
    /*height: 600px;*/
    background-color: #333333;
    opacity: 0.85;
    border-radius: 10px;
    text-align: center;
    color: white;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.bg_img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  -webkit-filter: blur(2px);
  filter: blur(2px);
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .bg_img {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
